<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
     <title>Freebox File Pusher</title>
     <link>${rss.url}</link>
     <description>List of file to transfert</description>
     ${items}
  </channel>
</rss>